    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 10px;
    }
    .pry-bg{
        background-color: hsl(30, 38%, 92%);
    }
    .gabr-grid{
        border: 1px solid red;
        display: grid;
        height: 300px;
    }
    .gabr-perf{
        background-image: url(./images/image-product-desktop.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .gabr-text{
        background-color: #fff;
    }
    .gabr-text h5{
        letter-spacing: .5rem;
    }
    .gabr-text h5{
        font-size: 2.5rem;
    }